@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}
.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.grid-container {
  max-width: 980px;
  margin: auto;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}
header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
header .icons span {
  color: white;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  background: rgba(37, 37, 37, 1);
}
nav .nav-logo-container {
  margin-left: 50px;
}
nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}
nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile-link a {
  color: white;
  border-bottom: 1px solid white;
}
.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url('../assets/img/Cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}
.home-main-text {
  font-family: 'Roboto mono', monospace;
  font-size: 30px;
  font-weight: 700px;
  letter-spacing: 10px;
  color: white;
  text-align: center;
}
.home-main-button {
  width: 110px;
  height: 50px;
  background: #47cfac;
  display: grid;
  align-items: center;
}
.home-main-button a {
  font-weight: 700;
  font-size: 18px;
}

.blogs-main {
  display: grid;
}
.blogs-main p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0px 50px 40px;
}
.blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 60px 1fr;
}
.blogs-news-img-container {
  grid-column: 1;
}
.blogs-news-img-container img {
  width: 85%;
}
.blogs-news-info-container {
  grid-column: 2;
}
.blogs-news-info-container h2 {
  font-size: 35px;
  text-align: left;
}
.blogs-news-info-container p {
  margin-bottom: 35px;
  font-weight: 500;
}
.blogs-post-container {
  padding: 0 50px 40px;
}
.blogs-post-titulo-post {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}
.blogs-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 500;
  width: 60px;
}
.blogs-post-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}
.blogs-post-container .post-container p {
  margin-bottom: 35px;
}
.blogs-post-container .post-container img {
  width: 100%;
}
footer {
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 35px solid #47cfac;
  text-align: center;
}

footer p {
  color: white;
  margin-top: 30px;
}
.blogpost-img-container {
  padding: 0 50px 40px;
}
.blogpost-img-container img {
  width: 100%;
}
.blogpost-main-container {
  padding: 0 50px 40px;
}

.grid-container-blog {
  max-width: 720px;
  margin: auto;
}
.blogpost-main-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 5px;
}
.blogpost-main-container article h1 {
  font-size: 35px;
}
.blogpost-main-container article p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.contact-main-container {
  width: 100%;
  min-height: 200px;
  background: #e6e9ed;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'contact-left contact-right';
}
.contact-main-container div {
  display: inline-block;
  width: 80%;
  height: 100%;
}
.contact-main-container div a {
  border-bottom: 1px solid black;
  font-weight: 700;
  font-size: 18px;
}
.contact-left {
  /* display: grid; */
  grid-area: contact-left;
  margin-left: 20%;
}
.contact-right {
  grid-area: contact-right;
}
.grid-container-contacto {
  max-width: 980px;
  margin: auto;
  text-align: start;
}
.contact-main-container .contact-left,
.contact-right {
  margin-top: 45px;
}
.contact-main-container .contact-left,
.contact-right p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.contact-main-container img {
  width: 100px;
}
.left,
.right {
  text-align: left;
}
.profile-main-container {
  padding: 70px 40px;
  background-color: #e6e9ed;
  margin-bottom: 50px;
}
.profile-main-container img {
  width: 320px;
  margin-right: 30px;
}
.profile-main-container p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.profile-main-container .profile-container {
  display: flex;
}
.profile-main-container .profile-container h2 {
  font-size: 35px;
  margin: 15px 0;
}
.profile-main-proyects {
  padding: 0 50px 40px;
}
.profile-main-proyects p {
  font-size: 14px;
}
.profile-main-proyects h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
.profile-main-proyects h4 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.proyects-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.proyects-container {
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
